
*{
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.container div{
    border:2px solid #d85000;
    border-radius: 10%;
    width: 250px;
}

img{
    width: 100%;
    height: 200px;
    border-radius: 10%;
}
.footer{
    background-color: #d85000;
    border-radius: 10px;
}

header{
    position: absolute;
    position: relative;
    height: 86px;
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   


}
