
*{
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

img{
    width: 150px;
    height: 100px;
}
.footer{
    background-color: #d85000;
    border-radius: 10px;
}